.container__box2 {
    width: 380px;
    border: 2px solid black;
    padding: 1.2rem;
    border-radius: 20px;
    margin-left: 2rem;
}

.box2__description {
    font-family: var(--font-primary);
    font-size: 1.1rem;
    max-width: 28ch;
    margin-bottom: 2rem;
    margin-top: 10px;
    font-weight: 500;
}

.box2__profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.box2__img {
    width: 90px;
    border-radius: 50%;
}

.box2__name {
    font-family: var(--font-secondary);
    font-size: 1.3rem;
    font-weight: 500;
}

.box2__jt {
    font-family: var(--font-secondary);
    font-size: 0.9rem;
}