*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
}

:root {
    --font-primary: "Inter", sans-serif;
    --font-secondary: "Open Sans", sans-serif;

    --clr-white: #eae7df;
    --clr-bg: #1c1c25;
    --clr-slate: #1b1a21;
}

img,
picture,
video,
canvas,
svg{
    display: block;
    max-width: 100%;
}